body {
    background-color: #91021f;
    background-image: url('../images/christmas.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content {
    max-width: 960px;
    height: 900px;
    margin: auto;
    background-color: #064210;
}

.title1 {
	color: #ffffff;
	text-align: center;
	font-family: impact;
}

#sub1 {
	background-color: #064210;
}

/*img {
	display: block;
	margin: auto;
	width: 95%;
}
*/
h2 {
	color: #ffffff;
	font-family: arial;
	text-align: center;
}

h3 {
	color: #ffffff;
	font-family: arial;
}

.logo {
    position: center;
    width: auto;
    height: 300px;
    display: block;
    margin: auto;

}

#team {
	float: left;
}

.bio {
	display: inline-block;
	float: right;
}

#fit {
	width: 49%;
}

#fit2 {
	margin-right: 300px;
}