<!DOCTYPE html>
<html>
	<head>
		<title>Ronny's gallery</title>
		<link rel="stylesheet" type="text/css" href="../CSS/contact.css">
	</head>

	<body>
		<div class="content">

			<div>
				<img class="logo" src="../images/Logo Christmas.png" alt="Christmas logo with festive features for the name Ronny" width="300px" height="300px">
			</div>

			<center>

				<h3> <a href="../index.html">Home</a> | <a href="gallery.html">Gallery</a> | <a href="bio.html">Bio</a> | <a href="video.html">Videos</a> | <a href="contact.html">Contact Info</a> </h3>

			</center>

			
			<img class="icon" src="../images/fblogo.png" width="300px" height="300px"></a>
			<img id="icons" class="icon" src="../images/fbpro.jpg" width="300px" height="300px">
			<h1 id="fit" class="bio">My Face Book, Ronny Ruiz</h1>

			<br>

			
			<img id="ig" class="icon" src="../images/iglogo.png" width="300px" height="300px"></a>
			<img id="icons" class="icon" src="../images/Gen.png" width="300px" height="300px">
			<h1 id="fit2" class="bio"> My Instagram, @runni_ruz</h1>

			<br>

			<br>

			<br>

			<br>

			<br>

			<br>

			<br>

			<br>

		</div>
	</body>
</html>