<!DOCTYPE html>
<html>
	<head>
		<title>Ronny's gallery</title>
		<link rel="stylesheet" type="text/css" href="../CSS/gallery.css">
	</head>

	<body>
		
		<div class="content">
		<!-- Header Area -->
		
			<div>
        <img class="logo" src="../images/Logo Christmas.png" alt="Christmas logo with festive features for the name Ronny" width="300px" height="300px">
      </div>

		  <center>
			
			 <h3> <a href="../index.html">Home</a> | <a href="gallery.html">Gallery</a> | <a href="bio.html">Bio</a> | <a href="video.html">Videos</a> | <a href="contact.html">Contact Info</a> </h3>

		  </center>
				
    <div class="responsive">
      <div class="gallery">
        <a href="../images/Xefrona.png">
          <img src="../images/Xefrona.png" alt="Xefrona:Map" width="512" height="512">
        </a>
       <div class="desc" id="font">Map of Xefrona.</div>
     </div>
    </div>


    <div class="responsive">
      <div class="gallery">
        <a href="../images/VATR nobg.png">
          <img src="../images/VATR-Thumb.png" alt="Team Vader" width="512" height="512">
        </a>
       <div class="desc" id="font">Team V.A.T.R.</div>
     </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="../images/Nade Xefrona AW.png">
          <img src="../images/NadeX-Thumb.png" alt="Man In Armour with a Mask" width="512" height="512">
        </a>
       <div class="desc" id="font">Character with Traditional armor over dress attire.</div>
     </div>
    </div>

    <div class="responsive">
     <div class="gallery">
        <a href="../images/Gen.png">
         <img src="../images/Gen.png" alt="Gen and her Dog" width="512" height="512">
        </a>
       <div class="desc" id="font">Pixel sketch of Gen.</div>
     </div>
    </div>

		<div class="responsive">
      <div class="gallery">
        <a href="../images/Sam.png">
          <img src="../images/Sam.png" alt="Sam in Insanity" width="512" height="512">
        </a>
       <div class="desc" id="font">Pixel sketch of Sam.</div>
     </div>
    </div>


    <div class="responsive">
      <div class="gallery">
        <a href="../images/Nade.png">
          <img src="../images/Nade.png" alt="Nade in Jap" width="512" height="512">
        </a>
       <div class="desc" id="font" id="font">The Word 'Nade' in Japanese</div>
     </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="../images/King.png">
          <img src="../images/King.png" alt="King with a Crown" width="512" height="512">
        </a>
        <div class="desc" id="font">A drawing of my Friend King.</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="../images/Dagonoid.png">
          <img src="../images/Dagonoid.png" alt="Witch Girl" width="512" height="512">
        </a>
        <div class="desc" id="font">Witch Girl.</div>
      </div>
    </div>

    				<div class="responsive">
      <div class="gallery">
        <a href="../images/DnD3.png">
          <img src="../images/DnD-Thumb.png" alt="Character from DnD" width="512" height="512">
        </a>
        <div class="desc" id="font">Sketch of my Dungeons and Dragons Character.</div>
      </div>
    </div>


    <div class="responsive">
      <div class="gallery">
        <a href="../images/Ash Color.png">
          <img src="../images/Ash-Thumb.png" alt="Female Mage" width="512" height="512">
        </a>
        <div class="desc" id="font">Sketch of a basic Female Mage.</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="../images/Happynade1.png">
          <img src="../images/Happy-Thumb.png" alt="4 people fighting" width="512" height="512">
        </a>
        <div class="desc" id="font">Castle Crashers Fanart by My girlfriend and I.</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="../images/Title.png">
          <img src="../images/Title.png" alt="Webtoons Title" width="512" height="512">
        </a>
        <div class="desc" id="font">The title for our Webtoon.</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="../images/sketch1.jpg">
          <img src="../images/thum1.png" alt="skeleton in armor" width="512" height="512">
        </a>
        <div class="desc" id="font">Undead Soldier.</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="../images/sketch2.jpg">
          <img src="../images/thum2.png" alt="cartoonish character with messy hair" width="512" height="512">
        </a>
        <div class="desc" id="font">Sam Winnikey.</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="../images/sketch3.jpg">
          <img src="../images/thum3.png" alt="unfinished sketch of profile of unnamed man" width="512" height="512">
        </a>
        <div class="desc" id="font">Sketch of Revan.</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="../images/speed1.png">
          <img src="../images/speed-thumb.png" alt="unfinished sketch of profile of unnamed man" width="512" height="512">
        </a>
        <div class="desc" id="font">Drawing of a female with a mask.</div>
      </div>
    </div>

<div class="clearfix"></div>

</div>

	</body>
</html>